<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a Senior Android Developer with over 4.7 years of experience in native
            mobile application development and have worked at both small startups and large organizations. 
            I have built, maintained and released several Android applications to playstore. While hard engineering problems are often intrinsically fun to tackle, I'm most attracted to solving real customer problems with a business justification.
        </p>
        <p>
            I love building cool stuff on Android using Kotlin and Java, scaling existing products and focusing more on quality and maintainability.I always strive to keep myself updated with new things in the world of Android🎯.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">My Strengths 💪 </h3>
		    <ul>
    			<li>
            Solid grasp on Android Life Cycles and Android System APIs.
    			</li>
          <li>
            Android Studio tools and Gradle.
          </li>
          <li>
            Kotlin, Java  
          </li>  
          <li>
            Android Jetpack libraries (Room, ViewModels, Livedata, WorkManager, Navigation).
    			<li>
            Architectures like MVVM and MVP.
    			</li>
    			<li>
            Retrofit 2, OkHttp, Kotlin Coroutines, Gson and Glide
    			</li>
          <li>
            Dependency Injection using Dagger 2.
          <li>
             Unit Testing (jUnit, mockito and espresso).
          <li>
            Firebase Messaging, analytics and crashlytics.
          </li>
          <li>
            Material Design concepts.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
