<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Jetpack Compose</b>. It's an exciting time for learning Android's new Jetpack Compose. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Android Jetpack libraries</b>. I've been an enthusiastic follower of Android Jetpack libraries ever since they were announced in Google IO 2017. I am constantly striving to keep myself updated with all the new changes happening in jetpack.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Currently I work @Harman India, where we try to connect cars with android apps for enabling users with vehicle location tracking and health, driving behavior analysis, roadside assist, media connectivity and more.
    		</li>
  			<li>
          My Medium blog and Stackoverflow answers covers my ongoing attempts to the wonderful developer community.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           7+ Band Score in IELTS. 
  			</li>
  			<li>
  			  IELTS score: 8 (Listening), 7.5 (Speaking), 7.5 (Reading), 7 (Writing).
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
